.main-content-footer {
  text-align: center;
}

.main-content-footer::before {
  content: '';
  display: block;
  margin: 0 auto;
  margin-left: 16px;
  margin-right: 16px;
  padding: 2px 0;
  border-top: 1px solid #000000;
}

.main-content-footer p {
  font-size: 16px;
  margin-bottom: 2px;
}
