.main-content-footer {
  text-align: center;
}

.main-content-footer::before {
  content: '';
  display: block;
  margin: 0 auto;
  margin-left: var(--space-md);
  margin-right: var(--space-md);
  padding: var(--space-xxs) 0;
  border-top: var(--border-width) solid var(--color-border);
}

.main-content-footer p {
  font-size: var(--text-base);
  margin-bottom: var(--space-xxs);
}

/* Mobile footer */
@media (max-width: 767px) {
  .main-content-footer::before {
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
  }

  .main-content-footer p {
    font-size: var(--text-sm);
  }
}
