.container {
  display: grid;
  grid-template-columns: 264px 1fr 264px; /* Left sidebar, main content, right sidebar */
  grid-template-rows: 1fr;
  flex-grow: 1;
}

.sidebar-common {
  background-color: #d8d8d8;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 16px;
  font-size: 16px;
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
