.container {
  display: grid;
  grid-template-columns: 264px 1fr 264px;
  grid-template-areas: 'left main right';
  grid-template-rows: 1fr;
  flex-grow: 1;
}

.sidebar-left {
  grid-area: left;
}
.main-content {
  grid-area: main;
}
.sidebar-right {
  grid-area: right;
}

/* Mobile: stack vertically */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'main'
      'left'
      'right';
  }
}

.sidebar-common {
  background-color: #d8d8d8;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 16px;
  font-size: 16px;
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
