<div class="sidebar-section">
  <h3>My Links</h3>
  <div class="sidebar-link-item">
    <img src="github_logo_pixelated_32px.webp" alt="GitHub Logo" />
    <a href="<%= github %>" target="_blank">GitHub Profile</a>
    <div></div>
  </div>
  <div class="sidebar-link-item">
    <img src="linkedin_logo_pixelated_32px.webp" alt="LinkedIn Logo" />
    <a href="<%= linkedin %>" target="_blank">LinkedIn Profile</a>
    <div></div>
  </div>
  <div class="sidebar-link-item">
    <img src="document_win_98.gif" alt="CV Icon" />
    <a href="cv.html">Curriculum Vitae</a>
    <div></div>
  </div>
  <div class="sidebar-link-item">
    <img src="gifs/address_book-0.gif" alt="Guestbook Icon" />
    <a href="guestbook.html">Guestbook</a>
    <div></div>
  </div>
</div>
<div class="sidebar-section">
  <h3>Under Construction!</h3>
  <img class="inline-gif" src="gifs/work.gif" alt="Under Construction GIF" />
  <p>More content coming soon!</p>
</div>
